/*CUERPO DE LA PAGINA*/
html {
  /* 0,0,1 */
  color: black;
  background-color: #107C10;
}

.navActive{
  /* 0,1,0 */
  background-color: #107C10;
  color: white;
}

.footerBtn {
  /* 0,1,0 */
  color: white;
  background-color: #0B2200;
}

h2 {
  /* 0,0,1 */
  background-color: #107C10;
  color: white;
}
