/*CUERPO DE LA PAGINA*/
html {
  /* 0,0,1 */
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  /* 0,0,1 */
  padding: 0.8em 0.5em;
  font-size: 1.7em;
  text-align: center;
  margin-top: 2.5em;
  text-transform: uppercase;
}

.navActive {
  /* 0,1,0 */
  font-weight: 600;
}

.footerBtn {
  /* 0,1,0 */
  width: 100%;
  display: block;
  color: white;
  background-color: #272324;
}

body {
  /* 0,0,1 */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0;
}

/*ENCABEZADOS DE LA PAGINA*/
h1 {
  /* 0,0,1 */
  text-transform: uppercase;
  font-size: 2em;
  background-color: #1D1B1C;
  color: white;
  text-align: center;
  font-stretch: expanded;
  margin: 0;
  padding: 1.5em 1em;
}

h3,
h4 {
  font-size: 1.8em;
  text-align: center;
}

h5,
h6 {
  font-size: 1.5em;
}

/*PARRAFOS Y LISTAS*/
p {
  /* 0,0,1 */
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.2em;
}

.imgStory {
  /* 0,1,0 */
  float: right;
  height: 10em;
  width: 20em;
  margin-left: 2em;
  margin-right: 2em;
}

.imgCover {
  /* 0,1,0 */
  height: 16em;
  width: 12em;
  float: left;
  margin-right: 1.5em;
}

.liVideogame {
  /* 0,1,0 */
  background-color: white;
  color: black;
  padding: 2em;
  margin-bottom: 2em;
  list-style: none;
}

#imgGaming {
  /* 1,0,0 */
  height: 20em;
  width: 30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav li {
  /* 0,0,2 */
  float: left;
}

/* LISTAS */
nav ul {
  /* 0,0,2 */
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  font-size: 1.2em;
  float: left;
  margin: 0;
  padding: 0;
  color: #272324;
  background-color: white;
}

ul {
  /* 0,0,1 */
  list-style: none;
  margin-right: 2em;
}

nav a {
  /* 0,0,2 */
  display: block;
  text-decoration: none;
  text-align: center;
}

/*LINKS*/
a {
  /* 0,0,1 */
  padding: 0.8em 1.6em;
  text-align: center;
  text-decoration: none;
  color: #1D1B1C;
  background-color: white;
}

a:hover {
  /* 0,1,1 */
  background-color: #1D1B1C;
  color: white;
}

/*PIES DE PAGINA*/
footer {
  /* 0,0,1 */
  padding: 3em 0;
  font-size: 1.2em;
  margin-right: 3em;
}


/*MULTIMEDIA*/
video {
  /* 0,0,1 */
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.divMapa {
  /* 0,1,0 */
  height: 0em;
  width: 0em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

input[type=file] {
  /* 0,1,1 */
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type=button] {
  /* 0,1,1 */
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  color: white;
  background-color: #272324;
}

input[type=button] {
  /* 0,1,1 */
  width: 50%;
}

#mostrarSvg {
  /* 1,0,0 */
  width: 100%;
}

input[type=image] {
  /* 0,1,1 */
  position: absolute;
  right: 3.5em;
  height: 2em;
  width: 2em;
}

.listaVideojuegos {
  /* 0,1,0 */
  list-style-type: none;
  margin-left: 0em;
  margin-right: 2em;
}

.divElementoRight {
  /* 0,1,0 */
  width: 9em;
  height: 12em;
  float: left;
  clear: left;
  margin: 1em;
}

.mapaDivBotones {
  /* 0,1,0 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.divDatos {
  /* 0,1,0 */
  text-align: center;
}

.trailerLink {
  /* 0,1,0 */
  font-style: italic;
  font-weight: 600;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.trailerLink:hover {
  /* 0,2,0 */
  background-color: white;
  color: #1D1B1C;
}

svg {
  /* 0,0,1 */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 1em;
}

svg {
  /* 0,0,1 */
  width: 100%;
}

#listaBD {
  /* 1,0,0 */
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
}

#listaBD li {
  /* 1,0,1 */
  margin: 1em;
  height: 100%;
  width: 100%;
}

#listaBD a {
  /* 1,0,1 */
  display: block;
}

.divForm{
  /* 0,1,0 */
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submitBtn{
  /* 0,1,0 */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 1em;
  color: white;
  background-color: #1D1B1C;
  margin-top: 2em;
  padding: 0.5em;
}

.pForm{
  /* 0,1,0 */
  display: inline-block;
  width: 30%;
  text-align: left;
  font-size: 1.2em;
}

.formBD {
  /* 0,1,0 */
  font-size: 1.2em;
  width: 50%;
}