/*CUERPO DE LA PAGINA*/
html {
  /* 0,0,1 */
  background-color: #003087;
  color: black;
}

.navActive{
  /* 0,1,0 */
  background-color: #003087;
  color: white;
}

.footerBtn {
  /* 0,1,0 */
  color: white;
  background-color: #030038;
}

h2 {
  /* 0,0,1 */
  background-color: #003087;
  color: white;
}